---
layout: default
---

<!--This is the showcase, the main view, the view for '/'-->


  <div class="content" flex="95" align="center">
      {% for post in site.posts %}
        <article class="post-showcase">
          <div class="post-showcase-things">
            <h3>{{ post.date | date: "%b %-d, %Y" }}</h3>
          </div>

          <div class="post-showcase-content">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <h2>{{ post.title }}</h2>
            </a>
            <p>
              {% if post.description %}
                {{ post.description }}
              {% else %}
                {{ post.content }}
              {% endif %}
            </p>
          </div>
        </article>
      {% endfor %}

  </div>
  

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

