<footer flex>
  <div class="footer-stuff-container">
    <pre>
<span class="sh-var-declaration">const</span> <span class="sh-var">thisBlog</span> <span class="sh-operand">=</span> {
  <span class="sh-obj-key">"author"</span> <span class="sh-operand">:</span> {
    <span class="sh-obj-key">"alias"</span> <span class="sh-operand">:</span> <span class="sh-string">"UnJavaScripter"</span><span class="sh-operand">,</span>
    <span class="sh-obj-key">"name"</span> <span class="sh-operand">:</span> <span class="sh-string">"Diego Coy"</span><span class="sh-operand">,</span>
    <span class="sh-obj-key">"country"</span> <span class="sh-operand">:</span> <span class="sh-string">".co"</span><span class="sh-operand">,</span>
    <span class="sh-obj-key">"twitter"</span> <span class="sh-operand">:</span> <a href="https://twitter.com/@UnJavaScripter" target="_blank" rel="noopener"><span class="sh-string sh-link">"@UnJavaScripter"</span></a>
    <span class="sh-obj-key">"github"</span> <span class="sh-operand">:</span> <a href="https://github.com/UnJavaScripter" target="_blank" rel="noopener"><span class="sh-string sh-link">"UnJavaScripter"</span></a>
  }<span class="sh-operand">,</span>
  <span class="sh-obj-key">"subjects"</span> <span class="sh-operand">:</span> <span class="sh-operand">[</span><span class="sh-string">"Modern Web Development"</span><span class="sh-operand">,</span><span class="sh-string">"JavaScript"</span><span class="sh-operand">,</span><span class="sh-string">"Angular"</span><span class="sh-operand">]</span><span class="sh-operand">,</span>
  <span class="sh-obj-key">"madeWith"</span> <span class="sh-operand">:</span> <span class="sh-string">"<span class="sh-emoji">👐</span>"</span>
}
    </pre>
  </div>
</footer>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52103164-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAjq-SFjljsMbMba1WY9RjPNUQnihGhJh8",
    authDomain: "blog-diegocoy.firebaseapp.com",
    databaseURL: "https://blog-diegocoy.firebaseio.com",
    storageBucket: "blog-diegocoy.appspot.com",
    messagingSenderId: "503797419395"
  };
  firebase.initializeApp(config);
</script>

<script src="{{ "/scripts/sw-registration.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/scripts/tostada.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/scripts/app.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/scripts/auth.js" | prepend: site.baseurl }}"></script>
