<footer flex>
  <div class="footer-stuff-container">
    <pre>
<span class="sh-var-declaration">let</span> <span class="sh-var">thisBlog</span> <span class="sh-operand">=</span> {
  <span class="sh-obj-key">"author"</span> <span class="sh-operand">:</span> {
    <span class="sh-obj-key">"alias"</span> <span class="sh-operand">:</span> <span class="sh-string">"unJavaScripter"</span><span class="sh-operand">,</span>
    <span class="sh-obj-key">"name"</span> <span class="sh-operand">:</span> <span class="sh-string">"Diego Coy"</span><span class="sh-operand">,</span>
    <span class="sh-obj-key">"country"</span> <span class="sh-operand">:</span> <span class="sh-string">"CO"</span><span class="sh-operand">,</span>
    <span class="sh-obj-key">"twitter"</span> <span class="sh-operand">:</span> <a href="https://twitter.com/@UnJavaScripter" target="_blank" rel="noopener"><span class="sh-string sh-link">"@UnJavaScripter"</span></a>
    <span class="sh-obj-key">"github"</span> <span class="sh-operand">:</span> <a href="https://github.com/UnJavaScripter" target="_blank" rel="noopener"><span class="sh-string sh-link">"UnJavaScripter"</span></a>
  }<span class="sh-operand">,</span>

  <span class="sh-obj-key">"subjects"</span> <span class="sh-operand">:</span> <span class="sh-operand">[</span><span class="sh-string">"JavaScript"</span><span class="sh-operand">,</span><span class="sh-string">"AngularJS"</span><span class="sh-operand">,</span><span class="sh-string">"Web Development"</span><span class="sh-operand">]</span><span class="sh-operand">,</span>
  <span class="sh-obj-key">"madeWith"</span> <span class="sh-operand">:</span> <span class="sh-string">"<span class="sh-emoji">👐</span>"</span>

}
    </pre>
  </div>
</footer>
