$color_text: #e0e0e0;
$color_background: #23232c;

$color_accent: #007feb;
$color_accent_darker: #2a587f;
$color_accent_lighter: #6495ed;

body {
  background: $color_background;
  color: $color_text;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


a {
  color: $color_accent;

  &:visited {
    color: $color_accent_darker;
  }

  &.link-nostyle{
    color: #f4f4f4;
    text-decoration: none;
  }

}

blockquote {
  background: rgba(0,10,0,0.3);
  padding-top: 0.1em;
  padding-right: 0.5em;
  padding-bottom: 0.1em;
  padding-left: 1.3em;
  border-left: 2px solid #0cb0b0;
}

/**
 * Custom Stuff
 */

.tl-dr {
  margin-top: -4em;
  
  &>.tl-dr-content {
    background: rgba(0,0,0,0.2);
    padding: 1em;
    margin: 1em;
  }
}

.text-center {
  text-align: center;
}


/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: #c3c3c3;
    }
  }
}


/***
 * Meeeee
 */


.image-center {
  display: block;
  margin: 0 auto;
}
