/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h2, h3, h4, h5, h6 {
  border-bottom: 1px dashed gray;
  margin-top: 1em;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $primary-text-color;
    background-color: $page-background;
    -webkit-text-size-adjust: 100%;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $accent-color;
    text-decoration: none;

    &:visited {
        color: $accent-color-lighter;
    }

    &:hover {
        color: $accent-color-darker;
        text-decoration: underline;
    }
}

a.button-like {
    font-size: 1em;
    padding: 0.7em;

    &:hover {
        background-color: lighten($accent-color, 40%);
        color: $accent-color-lighter;
        text-decoration: none;
    }
}

.card {
    text-align: start;
    color: $primary-text-color;
    margin-bottom: $spacing-unit;
    background-color: $card-background-color;
    padding: 1em;
    border-left: 3px solid $card-background-color;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    >.card__header {
        -webkit-box-align: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
    }

    >.card__content {

        >.abstract {
            -webkit-box-align: flex-start;
            -webkit-align-items: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;

            -ms-flex-align-self: baseline;
            align-self: baseline;
            padding-top: 1em;

            >figure {
                width: 90%;
            }
        }
        
        >.card-emoji {
            font-size: 10em;
        }

        >.pic-placeholder {
            min-height: 158.39px;
            min-width: 158.39px;
            max-height: 270px;
            max-width: 270px;
            background: $divider-color;
        }

        >img {
            @extend .pic-placeholder;
        }
    }

    >.card__actions {
        border-top: 1px solid $grey-color-light;
        margin-top: 0.5em;
        padding-top: 1em;
    }
}


.disabled {
    color: $secondary-text-color;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/***
 * Meeeee
 */


.image-center {
    display: block;
    margin: 0 auto;
}

////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////



/*
| Flex
|
*/
[flex] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  // -webkit-box-align: center;
  // -webkit-align-items: center;
  //     -ms-flex-align: center;
  //         align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

}
[flex='5'] {
  min-width: 5% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 5%;
      -ms-flex-preferred-size: 5%;
          flex-basis: 5%;
}
[flex='10'] {
  min-width: 10% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 10%;
      -ms-flex-preferred-size: 10%;
          flex-basis: 10%;
}
[flex='15'] {
  min-width: 15% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 15%;
      -ms-flex-preferred-size: 15%;
          flex-basis: 15%;
}
[flex='20'] {
  min-width: 20% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
}
[flex='25'] {
  min-width: 25% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}
[flex='30'] {
  min-width: 30% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
}
[flex='35'] {
  min-width: 35% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 35%;
      -ms-flex-preferred-size: 35%;
          flex-basis: 35%;
}
[flex='40'] {
  min-width: 40% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
}
[flex='45'] {
  min-width: 45% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 45%;
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
}
[flex='50'] {
  min-width: 50% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
[flex='55'] {
  min-width: 55% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 55%;
      -ms-flex-preferred-size: 55%;
          flex-basis: 55%;
}
[flex='60'] {
  min-width: 60% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
}
[flex='65'] {
  min-width: 65% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 65%;
      -ms-flex-preferred-size: 65%;
          flex-basis: 65%;
}
[flex='70'] {
  min-width: 70% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 70%;
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%;
}
[flex='75'] {
  min-width: 75% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
}
[flex='80'] {
  min-width: 80% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%;
}
[flex='85'] {
  min-width: 85% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 85%;
      -ms-flex-preferred-size: 85%;
          flex-basis: 85%;
}
[flex='90'] {
  min-width: 90% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 90%;
      -ms-flex-preferred-size: 90%;
          flex-basis: 90%;
}
[flex='95'] {
  min-width: 95% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 95%;
      -ms-flex-preferred-size: 95%;
          flex-basis: 95%;
}
[flex='100'] {
  min-width: 100% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
[flex='33'] {
  min-width: 33% !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 33.33%;
      -ms-flex-preferred-size: 33.33%;
          flex-basis: 33.33%;
}
/*
| Flex-md
|
*/
[flex-md='5'] {
  min-width: 5%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='5'] {
    -webkit-flex-basis: 5%;
        -ms-flex-preferred-size: 5%;
            flex-basis: 5%;
  }
}
[flex-md='10'] {
  min-width: 10%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='10'] {
    -webkit-flex-basis: 10%;
        -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
  }
}
[flex-md='15'] {
  min-width: 15%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='15'] {
    -webkit-flex-basis: 15%;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
  }
}
[flex-md='20'] {
  min-width: 20%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='20'] {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
  }
}
[flex-md='25'] {
  min-width: 25%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='25'] {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
  }
}
[flex-md='30'] {
  min-width: 30%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='30'] {
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
  }
}
[flex-md='35'] {
  min-width: 35%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='35'] {
    -webkit-flex-basis: 35%;
        -ms-flex-preferred-size: 35%;
            flex-basis: 35%;
  }
}
[flex-md='40'] {
  min-width: 40%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='40'] {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
  }
}
[flex-md='45'] {
  min-width: 45%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='45'] {
    -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
  }
}
[flex-md='50'] {
  min-width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='50'] {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
}
[flex-md='55'] {
  min-width: 55%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='55'] {
    -webkit-flex-basis: 55%;
        -ms-flex-preferred-size: 55%;
            flex-basis: 55%;
  }
}
[flex-md='60'] {
  min-width: 60%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='60'] {
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
  }
}
[flex-md='65'] {
  min-width: 65%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='65'] {
    -webkit-flex-basis: 65%;
        -ms-flex-preferred-size: 65%;
            flex-basis: 65%;
  }
}
[flex-md='70'] {
  min-width: 70%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='70'] {
    -webkit-flex-basis: 70%;
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
  }
}
[flex-md='75'] {
  min-width: 75%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='75'] {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
  }
}
[flex-md='80'] {
  min-width: 80%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='80'] {
    -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
  }
}
[flex-md='85'] {
  min-width: 85%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='85'] {
    -webkit-flex-basis: 85%;
        -ms-flex-preferred-size: 85%;
            flex-basis: 85%;
  }
}
[flex-md='90'] {
  min-width: 90%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='90'] {
    -webkit-flex-basis: 90%;
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%;
  }
}
[flex-md='95'] {
  min-width: 95%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='95'] {
    -webkit-flex-basis: 95%;
        -ms-flex-preferred-size: 95%;
            flex-basis: 95%;
  }
}
[flex-md='100'] {
  min-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='100'] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}
[flex-md='33'] {
  min-width: 33%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: MEDIA_SM) and (max-width: MEDIA_MD) {
  [flex-md='33'] {
    -webkit-flex-basis: 33.33%;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
  }
}
/*
| Flex-sm
|
*/
[flex-sm='5'] {
  min-width: 5%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='5'] {
    -webkit-flex-basis: 5%;
        -ms-flex-preferred-size: 5%;
            flex-basis: 5%;
  }
}
[flex-sm='10'] {
  min-width: 10%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='10'] {
    -webkit-flex-basis: 10%;
        -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
  }
}
[flex-sm='15'] {
  min-width: 15%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='15'] {
    -webkit-flex-basis: 15%;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
  }
}
[flex-sm='20'] {
  min-width: 20%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='20'] {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
  }
}
[flex-sm='25'] {
  min-width: 25%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='25'] {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
  }
}
[flex-sm='30'] {
  min-width: 30%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='30'] {
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
  }
}
[flex-sm='35'] {
  min-width: 35%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='35'] {
    -webkit-flex-basis: 35%;
        -ms-flex-preferred-size: 35%;
            flex-basis: 35%;
  }
}
[flex-sm='40'] {
  min-width: 40%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='40'] {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
  }
}
[flex-sm='45'] {
  min-width: 45%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='45'] {
    -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
  }
}
[flex-sm='50'] {
  min-width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='50'] {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
}
[flex-sm='55'] {
  min-width: 55%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='55'] {
    -webkit-flex-basis: 55%;
        -ms-flex-preferred-size: 55%;
            flex-basis: 55%;
  }
}
[flex-sm='60'] {
  min-width: 60%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='60'] {
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
  }
}
[flex-sm='65'] {
  min-width: 65%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='65'] {
    -webkit-flex-basis: 65%;
        -ms-flex-preferred-size: 65%;
            flex-basis: 65%;
  }
}
[flex-sm='70'] {
  min-width: 70%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='70'] {
    -webkit-flex-basis: 70%;
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
  }
}
[flex-sm='75'] {
  min-width: 75%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='75'] {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
  }
}
[flex-sm='80'] {
  min-width: 80%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='80'] {
    -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
  }
}
[flex-sm='85'] {
  min-width: 85%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='85'] {
    -webkit-flex-basis: 85%;
        -ms-flex-preferred-size: 85%;
            flex-basis: 85%;
  }
}
[flex-sm='90'] {
  min-width: 90%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='90'] {
    -webkit-flex-basis: 90%;
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%;
  }
}
[flex-sm='95'] {
  min-width: 95%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='95'] {
    -webkit-flex-basis: 95%;
        -ms-flex-preferred-size: 95%;
            flex-basis: 95%;
  }
}
[flex-sm='100'] {
  min-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='100'] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}
[flex-sm='33'] {
  min-width: 33%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (max-width: MEDIA_SM) {
  [flex-sm='33'] {
    -webkit-flex-basis: 33.33%;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
  }
}
/*
| Offset
|
*/
[flex-offset='5'] {
  margin-left: 5%;
}
[flex-offset='10'] {
  margin-left: 10%;
}
[flex-offset='15'] {
  margin-left: 15%;
}
[flex-offset='20'] {
  margin-left: 20%;
}
[flex-offset='25'] {
  margin-left: 25%;
}
[flex-offset='30'] {
  margin-left: 30%;
}
[flex-offset='35'] {
  margin-left: 35%;
}
[flex-offset='40'] {
  margin-left: 40%;
}
[flex-offset='45'] {
  margin-left: 45%;
}
[flex-offset='50'] {
  margin-left: 50%;
}
[flex-offset='55'] {
  margin-left: 55%;
}
[flex-offset='60'] {
  margin-left: 60%;
}
[flex-offset='65'] {
  margin-left: 65%;
}
[flex-offset='70'] {
  margin-left: 70%;
}
[flex-offset='75'] {
  margin-left: 75%;
}
[flex-offset='80'] {
  margin-left: 80%;
}
[flex-offset='85'] {
  margin-left: 85%;
}
[flex-offset='90'] {
  margin-left: 90%;
}
[flex-offset='95'] {
  margin-left: 95%;
}
[flex-offset='100'] {
  margin-left: 100%;
}
[flex-offset='33'] {
  margin-left: 33.33%;
}
/*
| Layout (direction)
|
*/
[layout="row"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
[layout="column"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: MEDIA_SM) {
  [layout-sm="row"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (max-width: MEDIA_SM) {
  [layout-sm="column"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*
| Align
|
*/
[align="start"] {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
[align="end"] {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
[align="center"] {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}