.sh-var-declaration {
  color: cadetblue;
}

.sh-var {
  color: navajowhite;
}

.sh-operand {
  color: lightslategray;
}

.sh-obj-key {
  color: peru;
}

.sh-string {
  color: salmon;
}

.sh-emoji {
  font-size: 5em;
}