
nav {
  height: 4em;
  background: rgba(0,0,0,0.1);
}
section.bam {
  height: 20em;
  background-color: #000;
  background-image: url('../assets/img/ball-bkg.png');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  background-position: -156px 0px;

  @media screen and (max-width: 599px) {
    background-position: -100px 150px;
  }
  @media (min-width: 600px) and (max-width: 959px) {
    background-position: -100px 100px;
  }

  &>.blog-title {
    text-align: center;
    padding-top: 8em;
  }

  &>div.my-pic>a.me-container>img.me-picture {
    border-radius: 50%;
    height: 7em;
    max-width: 7em;
    margin-right: 0.7em;
    overflow-x: hidden;
    background: rgba(0,0,0,0.3);
  }

}

main{
  min-height: calc(100% - 142px);
  &:after {
    content: "";
    display: block;
    height: 140px;
  }
  
  div.content {
    margin-top: 2em;
  }
}


article.post-showcase {
  //width: 60%;
  display: flex;
  flex-direction: row;
  margin-top: 1em;

  >.post-showcase-things {
    padding-top: 1em;
    width: 20%;
    max-width: 20%;
  }

  >.post-showcase-content {
    margin-left: 1em;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    text-align: start;
    background: rgba(0,0,0,0.1);
    color: #fcfcfc;
    max-width: 80%;
    width: 80%;

    >p {
      font-weight: 100; 
    }
  }
}

.post>article>h2 {
  border-top: 1px solid #4b4bc7;
  margin-top: 4.5em;
  padding-top: 0.7em;
  text-transform: uppercase;

}

.post>article>h2:first-of-type {
  margin-top: 0em;
}

/*
@
@ Page's post
@
*/

.post {
  margin-left: 3em;
  @media screen and (max-width: 599px) {
    margin-left: 0.5em;
  }
  @media (min-width: 600px) and (max-width: 959px) {
    margin-left: 1.5em;
  }

  >article>.highlighter-rouge>.highlight {
    margin-left: -4em;
    @media (max-width: 599px) {
      margin-left: -0.5em;
    }
    @media (min-width: 600px) and (max-width: 959px) {
      margin-left: -3em;
    } 
  }

  &>.post-header {
    &>.post-title {
      color: $color_accent_lighter;
    }
  }

  &>article>p {
    margin-right: 4em;
    @media screen and (max-width: 599px) {
      margin-right: 1em;
      text-align: justify;
    }
  }
}


#disqus_thread {
  margin-top: 7em;
  background: #535356;
  margin-left: -3em;
  padding-left: 4em;
  padding-right: 4em;
}



/*
@
@ Footer
@
*/


footer {
  background: rgba(0,0,0,0.4);
  padding: 1em;
  margin-bottom: -0.8em;
  height: 100%;
  

  .footer-stuff-container {
    margin-left: 30%;
    &>pre{
      width: 70%;
      padding: 1em;
      overflow-x: auto; 
    }

    @media screen and (max-width: 599px){
      margin-left: 3%;
      &>pre{
        width: 92%;
      }
    }

    @media (min-width: 600px) and (max-width: 959px){
      margin-left: 5%;
      &>pre{
        width: 90%;
      }
    }
  }
}



