<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <section class="bam">
      <div class="blog-title" flex layout="column" layout-align="center center">
        <a class="link-nostyle text-center" href="/">
          <h1>
            Desarrollo Web Moderno
          </h1>
        </a>
      </div>
      
      <div class="my-pic" flex layout="column" layout-align="end end">
        <a href="/about/" class="me-container">
          <img src="../assets/img/me.jpg"  class="me-picture" alt="Diego Coy/UnJavaScripter" title="Yo ~ Diego Coy">
        </a>
      </div>
    </section>

    
    <main>
        {{ content }}
    </main> 


    {% include footer.html %}

  </body>
</html>
