<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    {% include header.html %}
    
    <section class="bam" flex layout="column" layout-align="center center">
      <h1>
        <a class="link-nostyle" href="/">UnJavaScripter - <i>Blog</i></a>
      </h1>
      
      <div>
        <a href="/about">
          <img src="https://pbs.twimg.com/profile_images/705056200652619776/0FnCBemc_400x400.jpg?" alt="Diego Coy/UnJavaScripter">
        </a>
      </div>
    </section>

    
    <main>
        {{ content }}
    </main> 


    {% include footer.html %}

    <script src="{{ "/scripts/sw-registration.js" | prepend: site.baseurl }}"></script>




  </body>
</html>
